// font styles
$Roboto: "Roboto", sans-serif;
$DM-sans: "DM Sans", sans-serif;
// font sizes
$font-18: 18px;
$font-14: 14px;
$font-12: 12px;
$font-11: 11px;
$font-10: 10px;
$font-18: 18px;
$font-16: 16px;
$font-23: 23px;
// color
$color-1: #ffffff;
$color-2: #fafafa;
$color-3: #2148b1;
$color-4: #4169d5;
$color-5: #000000;
$color-6: #8e9094;
$color-7: #ff5127;
$color-8: #020812;
$color-9: #3a3f46;
$color-10: #dee2e6;
$color-11: #f2f5fd;
$color-12: #676a70;
$color-13: #19ad39;
$color-14: #fd5d5d;
$color-15: #fff7e6;
$color-16: #fd9428;
$color-17: #0f203c;
$color-18: #fff0f0;
$color-19: #f2f9f7;
$color-20: #4ead1d;
$color-21: #708ee0;
$color-22: #dee4f4;
$color-23: #21272f;
$color-24: #282d36;
$color-25: #6d7788;
$color-26: #edf1fd;
$color-27: #89a3e6;
$color-28: #eaeffd;
$color-29: #343941;
$color-30: #2b417e;
