@mixin button-property {
  color: $color-1;
  background-color: transparent;
  border-color: transparent;
}
@mixin sidebar-property {
  transition: all 0.3s;
  height: 100%;
  max-height: 100%;
  opacity: 1;
}
@mixin sidebarmenu {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0 -15px;
  font-size: $font-14;
}
@mixin btn-property($width, $height, $margin, $bgcolor) {
  width: $width;
  height: $height;
  color: $color-4;
  margin: $margin;
  background: $bgcolor 0% 0% no-repeat padding-box;
  border: 1px solid $color-27;
  border-radius: 4px;
  font-size: $font-14;
}
@mixin table-property($bordertop) {
  padding: 26px 8px;
  vertical-align: middle;
  color: $color-29;
  border-top: $bordertop;
  font-size: $font-14;
}
@mixin heading-property($size, $color, $marginprop, $padding) {
  font-size: $size;
  color: $color;
  margin: $marginprop;
  padding: $padding;
}
